<form action="/admin/postAddProduct" method="post">
    <input type="hidden" name="name" value="<%= product.name %>">
    <input type="hidden" name="address" value="<%= product.address %>">
    <input type="hidden" name="imageUrl" value="<%= product.imageUrl %>">
    <input type="hidden" name="rating" value="<%= product.rating %>">
    <input type="hidden" name="passedId" id="passedId">
    <input type="hidden" name="_csrf" value="<%= csrfToken %>">
    <button class="btn" type="submit">Add to Favorites</button>
</form>