<div class="backdrop"></div>
<header class="main-header">
    <button id="side-menu-toggle">Menu</button>
    <nav class="main-header__nav">
        <ul class="item-list">
            <li class="item">
                <a class="<%= path === '/' ? 'active' : '' %>" href="/">Home</a>
            </li>
            <li class="item">
                <a class="<%= path === '/places' ? 'active' : '' %>" href="/places">Places</a>
            </li>
            <% if (isAuthenticated) { %>
                <li class="item">
                    <a class="<%= path === '/favorites' ? 'active' : '' %>" href="/admin/products">Favorites</a>
                </li>
            <% } %>
        </ul>
        <ul class="item-list">
            <% if (!isAuthenticated) { %>
                <li class="item">
                    <a class="<%= path === '/login' ? 'active' : '' %>" href="/login">Login</a>
                </li>
                <li class="item">
                    <a class="<%= path === '/signup' ? 'active' : '' %>" href="/signup">Signup</a>
                </li>
            <% } else { %>
                <li class="item">
                    <form action="/logout" method="post">
                        <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                        <button type="submit">Logout</button>
                    </form>
                </li>
            <% } %>
        </ul>
    </nav>
</header>

<nav class="mobile-nav">
    <ul class="item-list">
        <li class="item">
            <a class="<%= path === '/' ? 'active' : '' %>" href="/">Home</a>
        </li>
        <li class="item">
            <a class="<%= path === '/places' ? 'active' : '' %>" href="/places">Places</a>
        </li>
        <% if (isAuthenticated) { %>
            <li class="item">
                <a class="<%= path === '/cart' ? 'active' : '' %>" href="/cart">Favorites</a>
            </li>
        <% } %>
        <% if (!isAuthenticated) { %>
            <li class="item">
                <a class="<%= path === '/login' ? 'active' : '' %>" href="/login">Login</a>
            </li>
            <li class="item">
                <a class="<%= path === '/signup' ? 'active' : '' %>" href="/signup">Signup</a>
            </li>
        <% } else { %>
            <li class="item">
                <form action="/logout" method="post">
                    <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                    <button type="submit">Logout</button>
                </form>
            </li>
        <% } %>
    </ul>
</nav>