<%- include('../includes/head.ejs') %>

    <link rel="stylesheet" href="/css/product.css">
    </head>
        <%- include('../includes/navigation.ejs') %>
        <div class="place-Selector">
        <input type="text" id="zipCode" value=<%= zipCode %> >
        <select name="type" id="type" value="">
            <option value="restaurants" <%= type === 'restaurant' ? 'selected' : '' %> >Restaurant</option>
            <option value="park" <%= type === 'park' ? 'selected' : '' %>>Park</option>
            <option value="museum" <%= type === 'museum' ? 'selected' : '' %>>Museum</option>
          </select>
          <a class="btn" id="reload" href="">Find Places</a>
        </div>
         
            <main id="main">

            </main>
            <script src="js/apicall.js"></script>
            <%- include('../includes/end.ejs') %>