<%- include('../includes/head.ejs') %>
        <script src="/js/apicall.js"></script>
    </head>

    <body>
        <%- include('../includes/navigation.ejs') %>
        <main class="centered">
            <header class="secondary-header">
                <h1><%= product.name %></h1>
            </header>
            <hr>
            <div class="image">
                <img src="https://lh3.googleusercontent.com/p/<%= product.imageUrl %>=s1600-w400" alt="<%= product.title %>">
            </div>
            <p>Average User Rating - <%= product.rating %></p>
            <p><%= product.address %></p>
            <p><%= product.phone %></p>
            <% if (isAuthenticated) { %>
                <%- include('../includes/add-to-cart.ejs', {product: product}) %>
            <% } %>
        </main>
        <script>
            let url = window.location.href;
            let key = localStorage.getItem('passedId');
            console.log(localStorage.getItem(key));
            document.getElementById('passedId').value = localStorage.getItem(key);
        </script>
        <%- include('../includes/end.ejs') %>